/build
*.o
*.out
*.exe

docker-compose.override.yml
docker-compose.override.yaml

.vscode/
.gradle/
build/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.properties.lock
